@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: 228 14% 5%;
  --bg-surface: 228 17% 10%;
  --border-subtle: 228 15% 18%;
}

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-100 font-sans antialiased overflow-x-hidden;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0b0c10;
  }
  ::-webkit-scrollbar-thumb {
    background: #242838;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3e445b;
  }
}
